@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

button {
    cursor: pointer;
}

.navbar {
  height: 326px;
  padding: 40px 15px;
  background-color: grey;
  display: flex;
  align-items: center;
  position: relative;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: black;
}

.nav__logo {
    width: 160px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    padding: 8px;
}

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    border: none;
    color: #fff;
    display: none;
}

.btn__menu--close {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 8px;
    color: rgb(88, 83, 83);
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    color: white;
    font-size: 20px;
}

a {
    text-decoration: none;
}

h1 {
    padding-top: 24px;
    font-size: 56px;
    color: #000;
    margin-bottom: 32px;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
}

input {
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #0a1f44;
    color: #0a1f44;
    display: inline-block;
    height: 70px;
    line-height: 40px;
    outline: none;
    padding: 15px 0 24px;
    transition: border-color .2s 
cubic-bezier(.645, .045, .355, 1);
    width: 75%;
    font-size: 24px;
    padding-left: 50px;
}

.container {
    padding: 96px 0;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}